.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* left container */
.leftContainer {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #17a2b8;
  z-index: -1;
}

.artContainer {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.art {
  height: 100%;
  position: relative;
  top: 30px;
}

.backdrop {
  position: absolute;
  z-index: -1;
}

.welcomeText {
  color: white;
  font-size: 20px;
  text-align: center;
}

/* right container */
.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 40%;
  height: 100%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}

.form {
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputContainer input {
  border: none;
  outline: none;
  width: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 90%;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
}

.iconLeft {
  margin-right: 25px;
}

.iconRight {
  margin-left: 25px;
}

.buttonContainer {
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.loginBtn {
  background-color: #fff;
  color: #17a2b8;
  border: 1px solid #17a2b8;
  width: 100%;
  height: 50px;
  border-radius: 100px;
  margin: 10px;
}

.loginBtn:hover {
  cursor: pointer;
}

.loginBtn:active {
  transform: scale(0.98);
}

.registerSection {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerBtn {
  background-color: #17a2b8;
  color: white;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 100px;
  margin: 10px;
}

.registerBtn:hover {
  cursor: pointer;
}

.registerBtn:active {
  transform: scale(0.98);
}
