.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.leftTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.rightDate {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #707070;
}
